.App {
  text-align: center;
  background-color: cornflowerblue;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  padding: 10px;
  padding-left: 90px;
}